html {

    height: 100%;
    margin: 0;

    // div {
    //     border: 3px grey solid;
    // }


    body {
        // border: 3px rgb(254, 18, 18) solid;
        display: grid;
        grid-template-columns: 2% 1fr 2%;
        grid-template-rows: 20vh 1fr 20vh;
        justify-items: center;

        width: 100vw;
        // height: 100%;
        margin: 0;



        .grid__container {
            // border: 3px rgb(0, 4, 255) solid;
            aspect-ratio: 1/1;
            grid-column: 2/3;
            grid-row: 2/3;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 3fr 3fr 4fr;
            gap: 2%;
            // margin: 20px;
            // margin-bottom: 20px;
            width: 90vw;
            // height: 100%;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

        .square1 {
            display: grid;
            grid-column: 1/3;
            grid-row: 1/3;
        }

    }
}