// скроллбар покрывается с нахлестом

// миксины 
// адаптивность 
// респонсивность

// 

$light-grey: rgb(217, 217, 217);


html {

    height: 100%;

    // div {
    //     border: 3px grey solid;
    // }
    * {
        padding: 0;
        margin: 0;
    }

    body {


        display: grid;
        grid-template-columns: 10% 80% 10%;
        grid-template-rows: 20vh 1fr 30vh 20vh;
        justify-items: center;

        width: 100vw;
        // height: 100%;
        margin: 0;


        header {

            border: 3px rgb(255, 0, 242) solid;
            display: grid;
            grid-column: 1/4;
            grid-row: 1/2;
            width: 100%;
            height: 100%;
            background-color: $light-grey;
            display: grid;
            grid-template-columns: 10% 80% 10%;




            .header__container {
                height: 100%;
                width: 100%;
                display: grid;
                grid-column: 2/3;
                grid-row: 2/3;
                display: inline-flex;
                justify-content: space-between;


                .header__container__name {

                    p {
                        margin: 0;
                    }

                }

                .header__container__nav {
                    display: flex;
                    width: 50%;

                    nav {
                        width: 100%;



                        ul {
                            display: flex;
                            justify-content: space-between;
                            width: 100%;


                            li {
                                display: flex;


                                // padding: 0 5vw;
                            }
                        }

                    }
                }
            }

        }

        main {
            grid-column: 2/3;
            grid-row: 2/3;
            display: grid;
            grid-template-rows: 20vh 1fr 40vh;

            p {
                grid-column: 2/3;

            }

            .grid__container {
                // border: 3px rgb(0, 26, 255) solid;
                // aspect-ratio: 1/1;
                grid-column: 2/3;
                grid-row: 2/3;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: 3fr 3fr 4fr;
                gap: 2%;
                padding: 10vh 0;
                // width: 90vw;
                // height: 100%;

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }

                .square1 {
                    display: grid;
                    grid-column: 1/3;
                    grid-row: 1/3;
                }

            }

            .main__sale {
                border: 3px solid rgb(255, 247, 0);

                display: grid;
                grid-column: 2/3;
                grid-row: 4/5;
                height: 100%;
            }


        }


        footer {
            // border: 3px rgb(111, 134, 77) solid;
            display: grid;
            grid-column: 1/4;
            grid-row: 4/5;
            width: 100%;
            background-color: $light-grey;
        }


    }
}