* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    font-size: x-large;
    border: solid 2px rgb(178, 184, 185);
}

.body {
    display: grid;
    height: 100vh;
}

.container {
    border: solid 4px rgb(129, 224, 241);
    display: grid;
    grid-template-rows: 10% 60% 30%;
}

.main__container {
    display: grid;
    grid-template-columns: 60% 1fr;
}

.main {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(3, 1fr);
}

/* .else {
    display: grid;
    border: 2px solid red;
    grid-template-columns: 50% 50%;
} */

.else1 {
    display: grid;
    grid-column: 1/2;
    margin: 1vw;
}

.else2 {
    display: grid;
    margin: 1vw;
}

.else3 {
    display: grid;
    grid-column: 1/3;
    margin: 1vw;
}

.aside {
    display: grid;
    justify-content: center;
}

.header {
    display: grid;
    grid-column: 1fr;
    justify-content: center;
}

.footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer div {
    margin: 1vw;
}